@model NoteEditViewModel
<div class="col-md-4">
        <form asp-controller="Note" asp-action="Add" method="post">
            @Html.ValidationSummary(true)
            <label asp-for="Note.Title" class="control-label"></label>
            <input asp-for="Note.Title" class="form-control" />
            <label asp-for="Note.Text" class="control-label"></label>
            <textarea asp-for="Note.Text"
                data-val-required="The Description field is required."
                data-val-maxlength-max="5000"
                data-val-maxlength="The field Description must be a string or array type with a maximum length of '5000'."
                data-val="true" rows="4" cols="50" style="overflow:auto;resize:none" asp-for="PromptText"></textarea> <br />
            @Html.LabelFor(n => n.Note.Extension) 
            @Html.DropDownListFor(n => n.Note.Extension, Model.Extensions, "") 
            <br/><br/>
            @Html.HiddenFor(m=>m.Note.Date)
            @Html.HiddenFor(m=>m.Note.Extension)
            @for (int i = 0; i < Model.Note.Categories.Count(); ++i)
            {
                @Html.HiddenFor(item => Model.Note.Categories[i], new { @class = "form-control", @readonly = "readonly" })
            }
            <input type="submit" value="Create" class="btn btn-primary" />
        </form>
        <form asp-controller="Note" asp-action="AddCategory">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m=>m.Note.Title)
            @Html.HiddenFor(m=>m.Note.Text)
            @Html.HiddenFor(m=>m.Note.Date)
            @Html.HiddenFor(m=>m.Note.Extension)
            @for (int i = 0; i < Model.Note.Categories.Count(); ++i)
            {
                @Html.HiddenFor(item => Model.Note.Categories[i], new { @class = "form-control", @readonly = "readonly" })
            }
            <label asp-for="NewCategory" class="control-label"></label>
            <input asp-for="NewCategory" class="form-control" /><br/>
            <input type="submit" value="Add" class="btn btn-primary" />
        </form>
<form method="post" asp-action="RemoveCategories">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m=>m.Note.Title)
    @Html.HiddenFor(m=>m.Note.Text)
    @Html.HiddenFor(m=>m.Note.Date)
    @Html.HiddenFor(m=>m.Note.Extension)
    <h2>In Categories:</h2>
    @if(@Model.Note.Categories.Length!=0)
    {
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
            </tr>
        </thead>
        <tbody>
             @for (int i = 0; i < Model.Note.Categories.Count(); ++i)
            {
                <tr>
                    <td>
                                @Html.TextBoxFor(item => Model.Note.Categories[i], new { @class = "form-control", @readonly = "readonly" })
                    </td>
                    <td>
                        <input type="checkbox" name="CategoriesToRemove" value="@Model.Note.Categories[i]">
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Remove categories" class="btn btn-primary" />
    }
    <br/>
</form>
<a asp-action="Index" asp-controller="Note">Back to list</a>
<div>