@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager
@model IEnumerable<VoicePortal.Models.Prompt>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of your prompts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PromptText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromptLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Format)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var user = await UserManager.GetUserAsync(User);
        }
        @foreach (var item in Model.Where(item => item.CompanyId == user.CompanyId)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PromptText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromptLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Format)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>